* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas1 {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    font-family: 'Creepster', system-ui;
}

#player,
#layer1,
#layer2,
#layer3,
#layer4,
#layer5,
#enemy_fly,
#enemy_plant,
#enemy_spider,
#fire,
#collisionAnimation,
#lives,
#retry {
    display: none;
}

#retry {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 16px;
    background-color: #071508;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Creepster";

}

#retry:hover {
    background-color: #a04e45;
}